html, body, .my-wrapper {
  height: 100%;
  overflow-y: hidden; 
}

/* label color */
.input-field label {
 color: #69f0ae;
}
/* label focus color */
.input-field input[type=text]:focus + label {
 color: #69f0ae;
}
/* label underline focus color */
.input-field input[type=text]:focus {
 border-bottom: 1px solid #69f0ae;
 box-shadow: 0 1px 0 0 #69f0ae;
}
/* valid color */
.input-field input[type=text].valid {
 border-bottom: 1px solid #69f0ae;
 box-shadow: 0 1px 0 0 #69f0ae;
}
/* invalid color */
.input-field input[type=text].invalid {
 border-bottom: 1px solid #69f0ae;
 box-shadow: 0 1px 0 0 #69f0ae;
}
/* icon prefix focus color */
.input-field .prefix.active {
 color: #69f0ae;
}